<%= render "shared/header" %>
    <%= link_to "予約済商品一覧", "#", class: "item-red-btn" %>
<%# 予約の概要 %>
<div class="item-show">
  <table class="reserve-plus">
    <tbody>
      <tr>
        <th class="reserve-content1">お客様名</th>
        <td class="reserve-content2">商品名</td>
        <td class="reserve-content3">個数</td>
        <td class="reserve-content4">メッセージ</td>
        <td class="reserve-content5">敬称</td>
        <td class="reserve-content6">用途</td>
        <td class="reserve-content7">お渡し日</td>
        <td class="reserve-content8">お渡し時間</td>
      </tr>
    </tbody>
  </table>
  <% @reserves.each do |reserve|%>
    <% if reserve.id.present? %>
      <table class="reserve-plus">
        <tbody>
          <tr>
            <th class="reserve-content1"><%= reserve.reserve.customer.last_name %>様</th>
            <td class="reserve-content2"><%= reserve.reserve.item.item_name %></td>
            <td class="reserve-content3"><%= reserve.reserve.quantity %>個</td>
            <td class="reserve-content4"><%= reserve.reserve.message %></td>
            <td class="reserve-content5"><%= reserve.reserve.honorific %></td>
            <td class="reserve-content6"><%= reserve.reserve.use_case %></td>
            <td class="reserve-content7"><%= reserve.request.visit_date %></td>
            <td class="reserve-content8"><%= reserve.request.visit_time.name %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>



<%= render "shared/footer" %>