<%= render "shared/header" %>
<div class='main'>
  <%# 予約一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ご購入は完了しました。</h2>
    <div class="subtitle" >
      <%= link_to( "#", class: 'item-contents') do %>
      <span class='item-lists'>ご予約済商品ページへ</span>
      <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      <% end %>
    </div>
    <div>
      <%= link_to( root_path, class: 'item-contents') do %>
      <span class='item-lists'>お買い物を続ける</span>
      <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      <% end %>
    </div>
</div>
<%= render "shared/footer" %>