<%= render "shared/header" %>
<div class='main'>
  <%# 予約一覧 %>
  <div class='item-contents-cart'>
    <h2 class='title-cart'>現在のカート</h2>
  </div>
    <ul class='item-lists-cart'>
      <% if @reserves.present? %>
        <% @reserves.each do |reserve| %>
          <% if !reserve.order.present? %>
            <li class='list'>
              <div class='item-img-content'>
                  <%= image_tag reserve.item.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <div class='item-name-cart'>
                  <h3 class='item-name'>
                    <%= reserve.item.item_name %>
                  </h3>
                </div>
                <div class='item-price'>
                  <span><%= reserve.item.price %>円<br><%= reserve.item.size.name %></span>
                </div>
              </div>
              <div class='item-cart-link'>
                <div class='item-cart-link2'>
                  <h3 class='item-name'>
                    <%= link_to "取り消す", item_reserf_path(reserve.item_id, reserve.id), method: :delete , class: "item-name-cart-color" %>
                  </h3>
                </div>
                <div class='item-cart-link2'>
                  <h3 class='item-name'>
                    <%= link_to "購入画面に進む", new_item_reserf_order_path(reserve.item_id, reserve.id), method: :get, class: "item-name-cart-color" %>
                  </h3>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <div class='item-info'>
          <h3 class='item-name'>
            カートに商品はございません。
          </h3>
          <div class='item-price'>
            <span><br></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /予約一覧 %>

  <div class="cart_button">
    <%= link_to "お買い物を続ける", root_path , class: "cart_button_type" %>
  </div>
</div>
<%= render "shared/footer" %>