<%= render "shared/header" %>

<!--スライドショー-->
<aside id="mainimg">
  <%= image_tag "cake_1.jpg", class: "slide0" %>
  <%= image_tag "cake_2.jpg", class: "slide1" %>
  <%= image_tag "cake_3.jpg", class: "slide2" %>
  <%= image_tag "cake_4.jpg", class: "slide3" %>
</aside>

<div id="contents">

<div id="main">

<section>
<h2>お知らせ</h2>
<p>店舗からのお知らせ<br>
</section>

<section>

<h2>Web予約商品</h2>
      <% if @items.present? %>
      <% @items.each do |item| %>
<div class="list">
  <%= link_to item_path(item.id) do %>
          <div class='item-menu-content'>
            <figure><%= image_tag item.image, class: "item-img" %></figure>
        </div>
	<h4><%= item.item_name %><span><%= item.price %>円<br><%= item.size.name %></span></h4>
	<p><%= item.explanation %></p>
	</div>
        <% end %>
      <% end %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
</section>
</div>

<%= render "shared/footer" %>