<%= render "shared/header" %>
    <%= link_to "新規商品登録", new_item_path, class: "item-red-btn" %>
<%# 商品の概要 %>
<% @items.each do |item|%>
  <div class="item-manage-show">
    <div class="item-manage-img">
       <%= image_tag item.image %>
    </div>
    <table class="item-manage-content">
      <tbody>
        <tr>
          <th class="item-manage-content1"><%= item.item_name %></th>
        </tr>
        <tr>
          <th class="item-manage-content2"><%= item.price %>円</th>
        </tr>
        <tr>
          <th class="item-manage-content3"><%= item.size.name %></th>
        </tr>
      </tbody>
    </table>
    <div class='item-manage-link'>
      <div class='item-manage-link2'>
        <%= link_to "商品の編集", edit_item_path(item.id), method: :get, class: "item-manage-link1" %>
      </div>
      <div class='item-manage-link2'>
        <%= link_to "削除", item_path(item.id), method: :delete, class:"item-manage-link1" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>
