<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-plus1">
  <div class="item-img-content">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>
    <%= image_tag @item.image, class: "item-box-img" %>
  </div>
  <div class="item-price-box-plus">
    <span class="item-price">
     <%= @item.price %>円
    </span>
    <span class="item-postage">
      <%= @item.size.name %>
    </span>
    <span class="item-postage">
      <%= @item.explanation %>
    </span>
  </div>

  <table class="detail-table-plus">
    <tbody>
      <tr>
        <th class="detail-item-plus">栄養成分</th>
        <td class="detail-value-plus"></td>
      </tr>
      <tr>
        <th class="detail-item-plus">エネルギー</th>
        <td class="detail-value-plus"><%= @item.calorie %>kcal</td>
      </tr>
      <tr>
        <th class="detail-item-plus">たんぱく質</th>
        <td class="detail-value-plus"><%= @item.protein %>g</td>
      </tr>
      <tr>
        <th class="detail-item-plus">脂質</th>
        <td class="detail-value-plus"><%= @item.fat %>g</td>
      </tr>
      <tr>
        <th class="detail-item-plus">炭水化物</th>
        <td class="detail-value-plus"><%= @item.carb %>g</td>
      </tr>
      <tr>
        <th class="detail-item-plus">食塩相当量</th>
        <td class="detail-value-plus"><%= @item.salt %>g</td>
      </tr>
    </tbody>
  </table>
</div>
<%# /商品の概要 %>


    <%# ユーザーのみ使用可能な機能 %>
    <% if customer_signed_in? && current_customer.admin? %>
      <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
    <% end %>
    <%# /ユーザーのみ使用可能な機能 %>

  <%# 予約フォーム %>
  <%= form_with model:@reserve, url: item_reserves_path(@item.id), id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <%# 予約内容の入力 %>
    <div class='shipping-address-form'>
      <h1 class='info-input-haedline'>
        ご予約フォーム
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">数量</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :quantity, class:"input-default", id:"quantity", placeholder:"例）1", maxlength:"8" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メッセージ</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :message, class:"input-default", id:"message", placeholder:"例）リクタロウ"%>
      </div>
      <div class="form-plus">
        <div class='form-text-wrap'>
          <label class="form-text">敬称</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='form-plus2'>
        <%= f.radio_button :honorific, :"さん" %>
        <%= f.label :honorific, "さん", {value: :"さん", style: "display: inline-block;"} %>
        <%= f.radio_button :honorific, :"ちゃん" %>
        <%= f.label :honorific, "ちゃん", {value: :"ちゃん", style: "display: inline-block;"} %>
        <%= f.radio_button :honorific, :"くん" %>
        <%= f.label :honorific, "くん", {value: :"くん", style: "display: inline-block;"} %>
        <%= f.radio_button :honorific, :"なし" %>
        <%= f.label :honorific, "なし", {value: :"なし", style: "display: inline-block;"} %>
        </div>
      </div>
      <div class="form-plus">
        <div class='form-text-wrap'>
          <label class="form-text">タイトル</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='form-plus2'>
        <%= f.radio_button :use_case, :"お誕生日おめでとう" %>
        <%= f.label :use_case, "お誕生日おめでとう", {value: :"お誕生日おめでとう", style: "display: inline-block;"} %>
        <%= f.radio_button :use_case, :"HappyBirthday" %>
        <%= f.label :use_case, "HappyBirthday", {value: :"HappyBirthday", style: "display: inline-block;"} %>
        <%= f.radio_button :use_case, :"祝" %>
        <%= f.label :use_case, "祝", {value: :"祝", style: "display: inline-block;"} %>
        <%= f.radio_button :use_case, :"なし" %>
        <%= f.label :use_case, "なし", {value: :"なし", style: "display: inline-block;"} %>
        </div>
      </div>
    </div>
    <%# /予約内容の入力 %>
    <div class='buy-btn'>
      <%= f.submit "カートへ入れる" ,class:"buy-red-btn", id:"button" %>
    </div>
  <% end %>
  <%# /予約フォーム %>

</div>

<%= render "shared/footer" %>
